.applicants-container {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .filter-options {
    margin-bottom: 10px;
  }
  
  .filter-options label {
    margin-right: 15px;
  }
  
  .select-all {
    margin-left: 10px;
    color: blue;
    cursor: pointer;
  }
  
  .btn-notify {
    margin: 10px 0px;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    background-color: #19047b;
    cursor: pointer;
  }
  
  .btn-notify:hover{
    background-color: #090031;
  }
  .table-striped {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-striped th,
  .table-striped td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .table-striped th {
    background-color: #f9f9f9;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .applicants-container{
    margin-left: 240px;
  }