.saved-company-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0;
}

.saved-company-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.saved-job-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.saved-company-name {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 4px;
}

.saved-job-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.saved-time {
    color: #888;
}
