.student-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-brand p{
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  
  .navbar-links a {
    margin-right: 10px;
    text-decoration: none;
  }
  
  .navbar-icon {
    margin-left: 10px;
  }
  
  .profile-icon, .notification-icon{
    margin-bottom: 5px;
    margin-right: 10px;
  }