.profile-description{
  margin-left: 40px;
}
.profile-logo > img{
  height: 60px;
  width: auto;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid rgb(214, 214, 214);
}
.profile-header {   
  display: flex;
  align-items: center;
  /* height: 10px; */
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  align-content: center;
}

.profile-header h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  /* margin-left: -5px; */
  /* width: 20px; */
}
.profile-page-content{
  /* display: grid;
  place-items: center; */
  margin: 0px 20px 20px;
    padding: 20px;
    width: 80%;
  /* width:80%; */
}

.main-containter-to-fit-in-centre{
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 0 auto; */
  /* align-items: center; */
}

.profile-header p {
  /* margin: 0; */
  margin: 1px;
  color: #5a5a5a; /* Lighter color shade */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.contact-information, .jobs-section, .public-staff-list, .students-section, .profile-overview {
  border-top: 1px solid #ccc;
  height: auto;
  font-size: 20px;
  word-wrap: normal;
  /* width: 70%; */
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  /* border-radius: 10px; */
  /* background-color: rgb(250, 249, 249); */
}

.profile-overview h2, .contact-information h3, .jobs-section h3, .public-staff-list h3, .students-section h3 {
  margin-top: 0;
}

.student {
  /* border-top: 1px solid #ccc; */
  padding-top: 10px;
  margin-top: 10px;
}
