body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29002b;
    padding: 10px 20px;
}

.logo {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #d4ff02;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.auth-buttons a {
    text-decoration: none;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.login-btn {
    background-color: transparent;
    border: 1px solid white;
}

.signup-btn {
    background-color: #d4ff02;
    color: #29002b;
}
