.profile-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .image-section1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .form-section1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 40px;
    background-color: #f8f8f8;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .profile-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .form-content {
    width: 100%;
    max-width: 400px;
  }
  
  .selection-section {
    width: 100%;
    text-align: left;
  }
  
  .selection-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .selection-section p {
    margin-bottom: 20px;
  }
  
  .type-form {
    width: 100%;
  }
  
  .type-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .type-form select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .continue-button {
    width: 50%;
    height: 50px;
    padding: 10px;
    background-color: #19047b;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .continue-button:hover {
    background-color: #0f0341;
  }
  
  .details-form-section {
    width: 100%;
  }
  
  .details-form {
    width: 100%;
  }
  
  .details-form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .details-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .details-form input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .submit-button {
    width: 50%;
    height: 50px;
    padding: 10px;
    background-color: #19047b;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    align-self: center;
  }
  
  .submit-button:hover {
    background-color: #0f0341;
  }
  
  .recruiter-form{
    margin: 20px;
  }

  h1{
    margin: 20px;
  }

  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: #ffffff; /* Grey background */
    border-radius: 2px;
    border: 1px solid rgb(202, 202, 202);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #290163;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #022872;
    cursor: pointer;
  }

  label{
    font-size: large;
    margin: 10px;
  }

  span{
    align-content: center;
  }

  .suggestions {
    list-style-type: none;
    padding: 0;
    margin-top: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 300px;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }