.recruiter-main-content {
    padding: 20px;
  }
  
  .recruiter-main-content h1 {
    font-size: 36px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .action-item {
    background-color: #ddd;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .action-item:hover {
    background-color: #ccc;
  }
  