.recruiter-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ff0000;
  padding-left: 50px;
  height: fit-content;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-right: 15px;
  color: white;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 300px;
  padding: 0;
}

.icon-container{
  object-fit: contain;
  margin: 10px;
  height: 25px !important;
  width: 25px !important;
}

.navbar li {
  margin-right: 20px;
  font-size: 18px;
  color: white;
  padding-right: 30px;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 20px;
  font-size: 24px;
}

.profile-icon {
  margin-right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 320px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display: block;}
