.recruiter-sidebar {
  width: 230px;
  flex: 0.2 !important;
  /* height: 100vh; */
  top: 100px;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  /* border: 1px solid rgb(199, 199, 199); */
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.recruiter-sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar-item{
  cursor: pointer;
  font-size: large;
  margin: 5px;
  margin-top: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.sidebar-item:hover{
  background-color: whitesmoke;
}
.recruiter-sidebar-items{
  /* margin-top: 70px; */
}

.sidebar li {
  margin: 20px 0;
  height: 20px;
  padding: 10px;
  padding-bottom: 30px;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.li-item{
  margin-bottom: 10px;
  align-items: center;
}
.sidebar li:hover{
  background-color: white;
}
