.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  height: 20px;
  padding: 10px;
  padding-bottom: 30px;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.li-item{
  margin-bottom: 10px;
  align-items: center;
}
.sidebar li:hover{
  background-color: white;
}
