.student-sidebar {
  /* width: 0px; */
  background-color: #d7e3ee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  /* width: auto; */
  /* border-right: 1px solid #dee2e6; */
  transition: width 0.3s;
}

.student-sidebar button {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #495057;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  
  transition: background-color 0.3s, color 0.3s;
}

.student-sidebar button:hover {
  background-color: #e9ecef;
}

.student-sidebar button.active {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

.student-sidebar button.active:hover {
  background-color: #0056b3;
}

.student-sidebar div {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: large;
  white-space: nowrap;
}

.student-sidebar text {
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}

.student-sidebar div:hover {
  background-color:rgba(230, 253, 253, 0.984);
  width: fit-content;
}

/* Media Queries */
@media (max-width: 1200px) {
  .student-sidebar {
    width: 200px;
  }

  .student-sidebar button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .student-sidebar text {
    font-size: medium;
  }
}

@media (max-width: 992px) {
  .student-sidebar {
    width: 150px;
    padding: 15px;
  }

  .student-sidebar button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .student-sidebar text {
    font-size: small;
  }
}

@media (max-width: 768px) {
  .student-sidebar {
    width: 100px;
    padding: 10px;
  }

  .student-sidebar button {
    padding: 4px 8px;
    font-size: 10px;
  }

  .student-sidebar text {
    font-size: x-small;
  }
}

@media (max-width: 576px) {
  .student-sidebar {
    width: 80px;
    padding: 5px;
  }

  .student-sidebar button {
    padding: 2px 4px;
    font-size: 8px;
  }

  .student-sidebar text {
    font-size: xx-small;
  }
}


/* .student-sidebar-icon{
  margin: 10px;
  padding: 5px;
} */

@media (max-width: 1200px) {
  .student-sidebar {
    width: 200px;
  }

  .student-sidebar button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .student-sidebar text {
    font-size: medium;
  }
}

@media (max-width: 992px) {
  .student-sidebar {
    width: 150px;
    padding: 15px;
  }

  .student-sidebar button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .student-sidebar text {
    font-size: small;
  }
}

@media (max-width: 768px) {
  .student-sidebar {
    width: 100px;
    padding: 10px;
  }

  .student-sidebar button {
    padding: 4px 8px;
    font-size: 10px;
  }

  .student-sidebar text {
    font-size: x-small;
  }
}

@media (max-width: 576px) {
  .student-sidebar {
    width: 80px;
    padding: 5px;
  }

  .student-sidebar button {
    padding: 2px 4px;
    font-size: 8px;
  }

  .student-sidebar text {
    font-size: xx-small;
  }
}