/* Navbar.css */
.student-navbar {
    width: 100%;
    display: flex; 
    justify-content:left;
    padding: 10px;
    align-items: start;
    margin-left: 15%;
  }
  
  .student-navbar-options button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
   
  }

  .student-navbar  h1 {
    margin: 0 10px;
    padding: 5px 20px;
  }

  .student-navbar-options .active {
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  